<footer>
     <nav class="horizontal">
        <ul class="position-left">
            <a href="http://cre8ivecells.com"><small>Copyright 2015 Creative Cells AD</small></a>
        </ul>
        <ul class="position-right">
            <li><a data-link="top" href="/">Home</a></li>
            <!--<li><a data-link="top" href="/#download">Download</a></li>-->
            <li><a data-link="top" href="/privacy.html">Privacy</a></li>
            <li><a data-link="top" href="/docs.html">Docs</a></li>
            <li><a data-link="top" href="/contact.html">Contact</a></li>
        </ul>
    </nav>
  </footer>

