@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?twboy1');
	src:url('../fonts/icomoon/icomoon.eot?#iefixtwboy1') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?twboy1') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?twboy1') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?twboy1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal; 
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.icon-imagetimer-icon-menu:before {
	content: "\e606";
} 

.icon-imagetimer-icons-grid:before {
	content: "\e607";
}

.icon-imagetimer-icons-list:before {
	content: "\e611";
}

.icon-imagetimer-icons-caret-right:before {
	content: "\e612";
}

.icon-imagetimer-icons-info:before {
	content: "\e613";
}

.icon-imagetimer-icon-pencil:before {
	content: "\e600";
}

.icon-imagetimer-icons-camera:before {
	content: "\e601";
}

.icon-imagetimer-icons-cancel:before {
	content: "\e602";
}

.icon-imagetimer-icons-done:before {
	content: "\e603";
}

.icon-imagetimer-icons-glasses:before {
	content: "\e604";
}

.icon-imagetimer-icons-graduation:before {
	content: "\e605";
}

.icon-imagetimer-icons-pencil:before {
	content: "\e608";
}

.icon-imagetimer-icons-plus:before {
	content: "\e609";
}

.icon-imagetimer-icons-saved:before {
	content: "\e60a";
}

.icon-imagetimer-icons-sound:before {
	content: "\e60b";
}

.icon-imagetimer-icons-time:before {
	content: "\e60c";
}

.icon-imagetimer-icons-timer:before {
	content: "\e60d";
}

.icon-imagetimer-icons-trash:before {
	content: "\e60e";
}

.icon-imagetimer-icons-vibe:before {
	content: "\e60f";
}

.icon-imagetimer-icons-webmonkey:before {
	content: "\e610";
}

.icon-phone:before {
	content: "\e942";
}

.icon-envelop:before {
	content: "\e945";
}

.icon-spinner3:before {
	content: "\e97c";
}

.icon-list2:before {
	content: "\e9bb";
}

.icon-smile:before {
	content: "\e9e1";
}

.icon-circle-up:before {
	content: "\ea41";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-down:before {
	content: "\ea43";
}

.icon-circle-left:before {
	content: "\ea44";
}

